@inherits BaseComponent

@namespace FluentCMS.Web.Plugins.Admin.ContentTypeManagement

@if (Visible)
{
    <Modal Size="ModalSize.Large" OnClose="OnCancel">
        <ModalHeader Closable>
            <ModalTitle>Select a field type</ModalTitle>
        </ModalHeader>
        <ModalBody>
            <Grid Gutter="GridGutter.Large">
                @foreach (var type in FieldTypes.All.Values.OrderBy(x => x.Order))
                {
                    <GridItem @key="type.Key" Small="GridItemColumn.Twelve" Medium="GridItemColumn.Six">
                        <div class="f-plugin-content-type-modal-item" @onclick="() => OnClick(type.Key)">
                            <Icon Name="@type.Icon" />
                            <div>
                                <Typography Align="TextAlign.Start" Size="TextSize.Default" Weight="TextWeight.SemiBold">
                                    @type.Title
                                </Typography>
                                <Typography Align="TextAlign.Start" Size="TextSize.Small" Weight="TextWeight.Thin">
                                    @type.Description
                                </Typography>
                            </div>
                        </div>
                    </GridItem>
                }
            </Grid>
        </ModalBody>
        <ModalFooter>
            <Button @onclick="OnCancel">
                Cancel
            </Button>
        </ModalFooter>
    </Modal>
}
